<div class="issue-page" *ngIf="issue">

  <!-- HEADER -->
  <div class="issue-header">

    <div class="header-left">
      <span class="issue-key">{{ issue.key }}</span>

      <input
        class="issue-title"
        [(ngModel)]="issue.title"
      />
    </div>

    <div class="header-right">
      <button class="primary-btn" (click)="saveIssue()">Save</button>
    </div>

  </div>



  <!-- BODY LAYOUT -->
  <div class="issue-layout">

    <!-- LEFT MAIN SECTION -->
    <div class="issue-main">

      <!-- DESCRIPTION -->
      <section class="card">
        <h3>Description</h3>

        <textarea
          rows="6"
          [(ngModel)]="issue.description">
        </textarea>
      </section>


      <!-- ATTACHMENTS -->
      <section class="card">

        <h3>Attachments</h3>

        <input
          type="file"
          multiple
          (change)="uploadAttachment($event)"
        />

        <div
          class="attachment-item"
          *ngFor="let file of issue.attachments">

          <a [href]="file.url" target="_blank">
            {{ file.fileName }}
          </a>

        </div>

      </section>


      <!-- COMMENTS -->
      <section class="card">

        <h3>Comments</h3>

        <div
          class="comment-box"
          *ngFor="let c of issue.comments">

          <strong>{{ c.author }}</strong>

          <p>{{ c.message }}</p>

          <small>{{ c.createdAt }}</small>

        </div>

        <textarea
          rows="3"
          [(ngModel)]="newComment"
          placeholder="Write comment...">
        </textarea>

        <button
          class="primary-btn"
          (click)="addComment()">
          Add Comment
        </button>

      </section>


      

  </div>

</div>