<div class="activity-container">

  <h2 class="activity-title">Activity</h2>

  <ng-container *ngIf="activities.length; else emptyState">

    <div
      *ngFor="let a of activities; trackBy: trackByTime"
      class="activity-item"
    >
      <div class="activity-header-line">
        <span class="user">{{ a.performedBy }}</span>
        <span class="action">{{ a.action }}</span>
        <span class="entity">({{ a.entityType }})</span>
      </div>

      <div class="activity-time">
        {{ a.createdAt | date:'medium' }}
      </div>
    </div>

  </ng-container>

  <ng-template #emptyState>
    <div class="activity-empty">
      No activity yet.
    </div>
  </ng-template>

</div>
