<aside class="project-sidebar">

  <ul class="menu">

    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="dashboard">Dashboard</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="backlog">Backlog</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="issues">Board</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="sprint">Sprint</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="activity">Activity</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="chat">Chat</a>
    </li>

  </ul>

  <div class="menu-divider"></div>

  <ul class="menu secondary">

    <li routerLinkActive="active">
      <a routerLink="members">Members</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="setting">Setting</a>
    </li>

  </ul>

</aside>
